---
title: Privacy Policy
---

<div class="limit">

  <div class="intro intro--no-height">
    <h1 class="intro__title">Privacy Policy</h1>
  </div>

  <div class="row row--1">
    <p class="row__column">
      
GrUSP cares about your privacy. All the information collected on our websites is going to be treated according to the italian privacy laws. You can find the full privacy policy (italian only) below:<br>

Ai sensi del d.lgs. 196/2003, La informiamo che:<br>
a) titolare del trattamento è Apropos srl<br>
b) responsabile del trattamento è Cesare D’Amico, Via della Costituzione 38, 48018 Faenza<br>
c) i Suoi dati saranno trattati (anche elettronicamente) soltanto dagli incaricati autorizzati, esclusivamente per dare corso all’invio della newsletter e per l’invio (anche via email) di informazioni relative alle iniziative del Titolare;<br>
d) la comunicazione dei dati è facoltativa, ma in mancanza non potremo evadere la Sua richiesta;<br>
e) ricorrendone gli estremi, può rivolgersi all’indicato responsabile per conoscere i Suoi dati, verificare le modalità del trattamento, ottenere che i dati siano integrati, modificati, cancellati, ovvero per opporsi al trattamento degli stessi e all’invio di materiale. Preso atto di quanto precede, acconsento al trattamento dei miei dati.<br>
    </p>
  </div>

  <hr class="hr">

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
