---
title: Schedule
---

<div class="limit limit--top-margin">

  {% include schedule/intro.html date='December 1st' %}

  <div class="schedule" data-dates="12-1">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html tracks='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='9.00-9.45' title='Check-in' fill='true' %}
        {% include schedule/event.html time='9.45-9.55' title='Presentazione GrUSP' fill='true' %}
        {% include schedule/event.html time='9.55-10.05' title='Presentazione Laravel Italia' fill='true' %}
        <tr>
          {% include schedule/talk.html time='10.10-10.40' title='RESTful API: la novità in Laravel 5.5'  fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='10.45-11.15' title='Deploy di applicazioni Laravel con le pipeline di Bitbucket'  fill='true' %}
        </tr>

        {% include schedule/pause.html time='11.15-11.45' title='Short break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html time='11.45-12.15' title='Codemotion, Laravel & me: 3 anni in un\'azienda in rapida crescita' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='12.20-12.50' title='Playmoove: Shared mobility within everyone\'s reach (developers included)' fill='true' %}
        </tr>

        {% include schedule/pause.html time='12.50-14.30' title='Lunch' icon="food" fill='true' %}

        <tr>
          {% include schedule/talk.html time='14.30-15.00' title='Using Repository Pattern with Eloquent for Code That Lasts' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='15.05-15.35' title='Laravel Doctrine: a Data Mapper approach' fill='true' %}
        </tr>

        {% include schedule/pause.html time='15.35-16.05' title='Short break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html time='16.05-16.35' title='Designing Virtual Reality App with Laravel Integration' fill='true'  %}
        </tr>

        <tr>
          {% include schedule/talk.html  time='16.40-17.10' title='12 Factors Laravel' fill='true'  %}
        </tr>

        {% include schedule/pause.html time='17.10-18.00' title='Happy hour' icon="bar" fill='true' %}

      </tbody>
    </table>
  </div>

  <div class="schedule schedule--mobile" data-dates="12-1">
    <table class="schedule__table">
      <thead>
        {% include schedule/header.html track='1' %}
      </thead>
      <tbody>
        {% include schedule/event.html time='9.00-9.45' title='Check-in' fill='true' %}
        {% include schedule/event.html time='9.45-9.55' title='Presentazione GrUSP' fill='true' %}
        {% include schedule/event.html time='9.55-10.05' title='Presentazione Laravel Italia' fill='true' %}
        <tr>
          {% include schedule/talk.html time='10.10-10.40' title='RESTful API: la novità in Laravel 5.5'  fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='10.45-11.15' title='Deploy di applicazioni Laravel con le pipeline di Bitbucket'  fill='true' %}
        </tr>

        {% include schedule/pause.html time='11.15-11.45' title='Short break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html time='11.45-12.15' title='Codemotion, Laravel & me: 3 anni in un\'azienda in rapida crescita' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='12.20-12.50' title='Playmoove: Shared mobility within everyone\'s reach (developers included)' fill='true' %}
        </tr>

        {% include schedule/pause.html time='12.50-14.30' title='Lunch' icon="food" fill='true' %}

        <tr>
          {% include schedule/talk.html time='14.30-15.00' title='Using Repository Pattern with Eloquent for Code That Lasts' fill='true' %}
        </tr>

        <tr>
          {% include schedule/talk.html time='15.05-15.35' title='Laravel Doctrine: a Data Mapper approach' fill='true' %}
        </tr>

        {% include schedule/pause.html time='15.35-16.05' title='Short break' icon="coffee" fill='true' %}

        <tr>
          {% include schedule/talk.html time='16.05-16.35' title='Designing Virtual Reality App with Laravel Integration' fill='true'  %}
        </tr>

        <tr>
          {% include schedule/talk.html  time='16.40-17.10' title='12 Factors Laravel' fill='true'  %}
        </tr>

        {% include schedule/pause.html time='17.10-18.00' title='Happy hour' icon="bar" fill='true' %}

      </tbody>
    </table>
  </div>












</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
