---
title: Staff
---
<div class="page-intro">
  <div class="limit">
  <h1 class="page-intro__title">Staff</h1>
    <h3 class="sponsor-intro__question">
      A great conference is created<br>
      by great contributors
    </h3>


    <div class="row row--2">
      <div class="row__column">
        <p class="row__text">
            <strong><a href="http://twitter.com/mbeccati">Matteo Beccati</a></strong><br/>
            <i>GrUSP founder and stealth vice-president</i><br>
            Passionate about PHP, databases and open source. Way too busy (and lazy) to write a better description or to update his website. Sorry
        </p>
        <p class="row__text">
          <strong><a href="http://twitter.com/__ce">Cesare D'Amico</a></strong><br/>
          <i>GrUSP founder and secretary</i><br>
          In love with technology, open source, outdoor activities, my cats and Lisa. I’m giving back to the community organizing, speaking at and helping out at open source-related conferences.
        </p>
      </div>
      <div class="row__column">
        <p class="row__text">
          <strong><a href="http://twitter.com/fullo">Francesco Fullone</a></strong><br/>
          <i>GrUSP president</i><br>
          Nerd, Otaku, Geek and Dad. I love working with new technologies and smart people, Ideato is the sum of both.
        </p>
        <p class="row__text">
          <strong><a href="http://twitter.com/dlondero">Daniel Londero</a></strong><br/>
          <i>GrUSP steering committee</i><br>
        </p>
      </div>
    </div>

  </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
