---
title: Venue
---

<div class="limit">

  <div class="intro intro--no-height">
    <h2 class="intro__title">Location</h2>
  </div>

  <div class="row">
    <div class="row__column">
        <p class="row__text"><a href="https://www.google.it/maps/place/Via+Baldassarre+Longhena,+42,+37138+Verona+VR/@45.4399785,10.9697421,614m/data=!3m2!1e3!4b1!4m5!3m4!1s0x4781e1e3a1212445:0x74730a5e0d30436d!8m2!3d45.4399785!4d10.9719308?hl=it"><img src="/img/{{ site.data.conference.slug }}/map_big.jpg" alt="location"></a></p>
        <p class="row__text">The {{ site.data.conference.slug }} conference will be in {{ site.data.venue.name }} in {{ site.data.conference.where_when }}.</p>
    </div>
  </div>

  <hr class="hr">

  <h2 class="row__title">Hotel agreements</h2>

  <div class="row row--2">
    <p class="row__column">
        <img src="/img/{{ site.data.conference.slug }}/marker_venue.png"><br><strong class="row__title">Hotel San Marco</strong><br>
        Via Longhena, 42<br>
        37138 Verona — Italy<br>
        045569011<br>
        045572299<br>
        <a href="http://www.sanmarco.vr.it/index.cfm/it/">http://www.sanmarco.vr.it/</a><br>
        The conference hotel offers discounted rates on single and double bedrooms.
    </p>

    <p class="row__column">
        <img src="/img/{{ site.data.conference.slug }}/marker_hotel_b.png"><br><strong class="row__title">Bed and breakfast "Dai Nonni"</strong><br>
        Vicoletto Scala, 3<br>
        37121 Verona — Italy<br>
        331 8630 795<br>
        info@bbdainonni.com<br>
        <a href="http://www.bedandbreakfastdainonni.com/">http://www.bedandbreakfastdainonni.com/</a><br>
        The Bed & Breakfast Dai Nonni is rightly located in the heart of the historical center of Verona, near the central pedestrian shopping street and only 200 meters far from the Arena. The area is also well served by public transports and you can easily reach the conferences' site at the Hotel San Marco. About the agreement: phpDay convention (70€ per night for a double bedroom, with private bathroom, including breakfast).
      </p>
  </div>

  <hr class="hr">

  <h2 class="row__title">How to get to the conference</h2>

  <div class="row row--3">
    <div class="row__column">
      <p class="row__text">
        <img src="/img/{{ site.data.conference.slug }}/marker_route_n.png"><br><strong>Route from Verona Nord Exit</strong>
      </p>
      <p class="row__text">
          Take the Tangenziale following Verona Centro direction. At the end of the Tangenziale turn left. Continue towards Porta Palio. At the roundabout go straight along Viale Colonnello Galliano. At the first traffic light turn left into Via San Marco. Drive straight along Via San Marco to the Hotel.
      </p>
    </div>
    <div class="row__column">
      <p class="row__text">
        <img src="/img/{{ site.data.conference.slug }}/marker_route_s.png"><br><strong>Route from Verona Sud Exit</strong>

      </p>
      <p class="row__text">
      Follow the direction to Fiera - Verona Centro. Drive along Viale delle Nazioni. Continue along Viale del Lavoro and Viale del Piave. Once you arrive in Piazzale Porta Nuova, turn left. Drive along Viale Luciano Dal Cero. Continue towards Porta Palio. At the roundabout go straight along Viale Colonnello Galliano. At the first traffic light turn left into Via San Marco. Drive straight along Via San Marco to the Hotel.<br/>
      </p>
    </div>
    <div class="row__column">
      <p class="row__text">
        <img src="/img/{{ site.data.conference.slug }}/marker_airport.png"><br><strong>Route from the Airport</strong>

      </p>
      <p class="row__text">
          Take the Tangenziale following Verona direction. Take the junction to Verona Centro. At the end of the Tangenziale turn left. Continue towards Porta Palio. At the roundabout go straight along Viale Colonnello Galliano. At the first traffic light turn left into Via San Marco. Drive straight along Via San Marco to the Hotel.
      </p>
    </div>
  </div>

</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
