---
title: CQRS per sviluppatori Symfony a workshop by ideato
---

<div class="limit">

  <div class="intro intro--no-height">
    <h1 class="intro__title">CQRS per sviluppatori Symfony</h1>
  </div>

  <h1 class="row__title">19 Ottobre 2017, Milano</h1>
  <h3 class="row__title">un workshop realizzato in collaborazione con
    <a href="http://www.ideato.it/?utm_source=symfonyday">ideato</a>
  </h3>

  <div class="row row--2">
    <p class="row__column">
      Il corso ha l’obiettivo di far conoscere le basi di CQRS/ES partendo da un approccio teorico fino ad arrivare all’implementazione di un caso d’uso.
    </p>

    <p class="row__column">
      Alla fine del corso avrete solide basi sull’argomento e del codice funzionante da utilizzare come punto di partenza per i vostri progetti.
    </p>

    <p class="row__column">
    </p>

    <p class="row__column">
      <a href="{{ site.data.tickets.url }}" target="_blank" class="button button--register">Registrati</a>
    </p>

  </div>

  <h2 class="row__title">Programma</h2>

  <div class="row row--1">
    <div class="row__column">
    <p class="row__text">
      <ol>
        <li>Cos’è CQRS e perché usarlo</li>
        <li>Cos’è Event Sourcing e perché usarlo</li>
        <li>CQRS ed ES insieme</li>
        <li>Le componenti principali:
          <ul>
            <li>Command</li>
            <li>Event</li>
            <li>Aggregate</li>
            <li>Read Model</li>
            <li>Process e Saga per modellare l’interazione tra aggregati</li>
          </ul>
        </li>

        <li>Vantaggi e svantaggi</li>
        <li>Hands on: implementazione di una funzionalità completa con broadway:
          <ul>
            <li>CQRS/ES con Symfony: broadway e broadway bundle</li>
            <li>Compiere azioni: il write model: Command, CommandHandler,Aggregate,Event, Event Store</li>
            <li>Estrarre i dati: il read model: Projector, Read Model</li>
          </ul>
        </li>
        <li>Unit test</li>
        <li>Interazione tra aggregati tramite Process e Saga</li>
      </ul>
    </p>

    <p class="row__text">
      Il completamento del programma dipende dalla velocità con la quale riusciremo ad affrontare gli argomenti.<br>
      Broadway è la libreria che abbiamo scelto per l’implementazione della nostra demo. Fornisce delle componenti utili per l’implementazione di CQRS/ES ma tutte le nozioni apprese nel corso del workshop sono implementabili con librerie analoghe o scrivendosi il proprio framework CQRS/ES.
    </p>
  </div>


  </div>

  <hr class="hr">

  <div class="row row--2">
    <div class="row__column">
      <h3 class="column__title">A chi è rivolto</h3>
      <p class="row__text">
        Il corso è rivolto a chi vuole accelerare la sua curva di apprendimento sull’argomento e capire in quali casi è utile utilizzare questo pattern.
        Conoscenze richieste:
        <ul>
          <li>PHP</li>
          <li>Programmazione ad oggetti</li>
          <li>Symfony Base</li>
          <li>Unit test (opzionale)</li>
        </ul>
      </p>
    </div>
    <div class="row__column">
      <h3 class="column__title">Informazioni utili</h3>
      <p class="row__text">
        La durata del corso è di una giornata e <b>si terrà il 19 Ottobre</b> (il giorno prima del SymfonyDay).<br>
        Qualche giorno prima del corso verrà fornito un repository git a tutti i partecipanti, con il codice applicativo e la macchina virtuale per far girare i test e l’applicazione.<br>
        È responsabilità del partecipante arrivare con la macchina virtuale funzionante o con il progetto funzionante sulla propria macchina locale. Vi daremo tutte le indicazioni utili per la configurazione.
      </p>
    </div>


    <p class="row__column">
    </p>

    <p class="row__column">
      <a href="{{ site.data.tickets.url }}" target="_blank" class="button button--register">Registrati</a>
    </p>

  </div>

  <hr class="hr">

  <div class="intro intro--no-height">
    <h1 class="column__title"><a href="{{ site.data.tickets.url }}">Iscriviti ora</a> i posti sono limitati</h1>
  </div>


</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
