---
title: Laravel 5.5 Primer: dalle basi al deploy
---

<div class="limit">

  <div class="intro intro--no-height">
    <h1 class="intro__title">Laravel 5.5 Primer: dalle basi al deploy</h1>
  </div>

  <h1 class="row__title">30 Novembre 2017, Verona</h1>
  <h3 class="row__title">un workshop realizzato in collaborazione con
    <a href="https://github.com/chrispecoraro/?utm_source=laravelday">Christopher Pecoraro</a>
  </h3>

  <div class="row row--2">
    <p class="row__column">
      Lo scopo di questo workshop è quello di avvicinare sviluppatori PHP a Laravel. Durante il corso verrà analizzato il framework dalle sue basi per arrivare a sviluppare una piccola applicazione API-driven.<br>
      Laravel 5.5, ultima versione appena rilasciata, ha diverse funzionalità incluse di default per facilitare il processo di sviluppo e precedentemente esterne, come Fractal, per trasformare l'output e formattarlo correttamente per usarlo con framework JS come React o Vue.js.<br>
    </p>

    <p class="row__column">
      Utilizzeremo questi nuovi strumenti, in un processo guidato di apprendimento, insieme al package Mega Make (https://github.com/chrispecoraro/mega-make), per automatizzare la creazione della nostra applicazione RESTful.<br>
      Infine esamineremo in dettaglio, ogni singolo aspetto del sistema di API interno di Laravel.
    </p>

    <p class="row__column">
    </p>

    <p class="row__column">
      <a href="{{ site.data.tickets.url }}" target="_blank" class="button button--register">Registrati</a>
    </p>

  </div>

  <h2 class="row__title">Programma</h2>

  <div class="row row--1">
    <div class="row__column">
    <p class="row__text">
      Introduzione all'ecosistema dei tool inclusi in Laravel:
      <ol>
        <li>Composer</li>
        <li>Artisan</li>
        <li>Dusk</li>
        <li>Passport</li>
        <li></li>
      </ol>

      Introduzione ed utilizzo dei principali componenti Laravel:
      <ol>
        <li>Models</li>
        <li>Migrations</li>
        <li>Model Factories</li>
        <li>Faker</li>
        <li>Seeders</li>
        <li>Resource Controllers</li>
        <li>Validation Rules</li>
        <li>Single API Resources</li>
        <li>API Resource Collections</li>
        <li>Blade-based Views</li>
        <li>Tests</li>
      </ol>
    </p>

    <p class="row__text">
      Il completamento del programma dipende dalla velocità con la quale riusciremo ad affrontare gli argomenti.<br>
      Consigliamo ai partecipanti di preparare una macchina Vagrant con uno stack LAMP preconfigurato.
    </p>
  </div>


  </div>

  <hr class="hr">

  <div class="row row--2">
    <div class="row__column">
      <h3 class="column__title">A chi è rivolto</h3>
      <p class="row__text">
        Il corso è rivolto a chi vuole accelerare la sua curva di apprendimento sull’argomento e capire in quali casi è utile utilizzare questo framework.
        Conoscenze richieste:
        <ul>
          <li>PHP</li>
          <li>Programmazione ad oggetti</li>
          <li>Unit test (opzionale)</li>
        </ul>
      </p>
    </div>
    <div class="row__column">
      <h3 class="column__title">Informazioni utili</h3>
      <p class="row__text">
        La durata del corso è di una giornata e <b>si terrà il 30 Novembre nella stessa location della conferenza</b> (il giorno prima del LaravelDay).<br>
        Qualche giorno prima del corso verrà fornito un repository git a tutti i partecipanti, con il codice applicativo e la macchina virtuale per far girare i test e l’applicazione.<br>
        È responsabilità del partecipante arrivare con la macchina virtuale funzionante o con il progetto funzionante sulla propria macchina locale. Vi daremo tutte le indicazioni utili per la configurazione.
      </p>
    </div>


    <p class="row__column">
    </p>

    <p class="row__column">
      <a href="{{ site.data.tickets.url }}" target="_blank" class="button button--register">Registrati</a>
    </p>

  </div>

  <hr class="hr">

  <div class="intro intro--no-height">
    <h1 class="column__title"><a href="{{ site.data.tickets.url }}">Iscriviti ora</a> i posti sono limitati</h1>
  </div>


</div>

{% include index/newsletter.html %}
{% include index/sponsors.html %}
