
@include block ('schedule') {

  display: block;
  margin-bottom: s(8);

  @include media ('<tablet-small') {
    display: none;
  }

  @include modifier ('mobile') {
    display: none;
    @include element ('head') {
      @include modifier ('upper') {
        width: 100%;
      }
    }

    @include media ('<tablet-small') {
      display: block;
    }
  }

  @include element ('table') {
    border-collapse: collapse;
    table-layout: fixed;

    tr {
      transition: background-color 0.25s ease-in-out;
    }
  }

  @include element ('head') {
    background-color: $color-background-dark;
    color: $color-text-schedule-header;
    font-size: 24px;
    padding: s(1) s(2);
    text-align: left;

    @include modifier ('upper') {
      text-transform: uppercase;
      width: 30%;
    }

    @include modifier ('lower') {
      padding-left: s(3);
      text-transform: lowercase;
      width: 10%;
    }
  }

  @include element ('cell') {
    font-weight: 700;
    padding: s(2) s(2) s(3);
    vertical-align: top;

    @include modifier ('time') {
      padding-left: s(3);
    }

    @include modifier ('event') {
      @include where-when;
      font-size: 24px;

      @include media ('<tablet-small') {
        font-size: 18px;
      }

      @include media ('<mobile-large') {
        font-size: 16px;
      }
    }

    @include modifier ('break-event') {
      @include title-uppercase;
      color: $color-text-info;
      font-size: 32px;
      line-height: 1;
      padding-bottom: s(2);

      i {
        color: $color-text;
        margin-right: s(1);

        @include media ('<tablet-small') {
          margin-right: 0;
        }
      }

      @include media ('<tablet-small') {
        font-size: 24px;
      }

      @include media ('<mobile-large') {
        font-size: 18px;
      }
    }

    @include modifier ('break') {
      border: 1px solid $color-background-dark;
      border-left: 0;
      border-right: 0;
    }
  }

  @include element ('time') {
    white-space: nowrap;
  }

  @include element ('on-air') {
    @include title-uppercase;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: on-air;
    background-color: $color-background-schedule-on-air;
    clear: both;
    color: $color-text-schedule-on-air;
    display: block;
    line-height: 1;
    margin-top: s(0.25);
    opacity: 0;
    padding: s(0.5) s(0.25) s(0.25);
    text-align: center;
    transition: opacity 0.25s ease-in-out;
    user-select: none;
  }

  @include element ('current') {
    background-color: $color-background-schedule-current;

    @include element ('on-air') {
      opacity: 1;
    }
  }

  @include element ('title') {
    @include modifier ('centered') {
      margin: auto;
      width: 50%;
    }
  }

  @include element ('detail') {
    @include title;
    font-size: 12px;
    margin-top: s(0.5);

    @include media ('<mobile-large') {
      font-size: 11px;
    }
  }

  @include element ('speaker') {
    color: $color-text-schedule-speaker;
    text-decoration: none;

    & + &::before {
      color: $color-text;
      content: ', ';
      margin-left: -2px;
    }
  }

  @include media ('<tablet-large') {
    margin-left: s(-4);
    margin-right: s(-4);

    @include element ('head') {
      @include modifier ('lower') {
        padding-right: 0;
      }
    }

    @include element ('cell') {
      padding: s(2);

      @include modifier ('time') {
        padding-right: 0;
        text-align: right;

        @include media ('<mobile-large') {
          font-size: 14px;
        }
      }
    }
  }
}

@keyframes on-air {
  0% {
    color: $color-text-schedule-on-air;
  }

  25% {
    color: mix($color-background-schedule-on-air, $color-text-schedule-on-air);
  }

  50% {
    color: $color-text-schedule-on-air;
  }
}
