
.icon-minus:before { content: '\e800'; } /* '' */
.icon-vimeo:before { content: '\e801'; } /* '' */
.icon-twitter:before { content: '\e802'; } /* '' */
.icon-gplus:before { content: '\e803'; } /* '' */
.icon-flickr:before { content: '\e804'; } /* '' */
.icon-up-dir:before { content: '\e805'; } /* '' */
.icon-facebook:before { content: '\e806'; } /* '' */
.icon-play-circled2:before { content: '\e807'; } /* '' */
.icon-play-1:before { content: '\e808'; } /* '' */
.icon-location:before { content: '\e809'; } /* '' */
.icon-right-dir:before { content: '\e80a'; } /* '' */
.icon-menu-1:before { content: '\e80b'; } /* '' */
.icon-down-dir:before { content: '\e80c'; } /* '' */
.icon-left-dir:before { content: '\e80d'; } /* '' */
.icon-right-dir-1:before { content: '\e80e'; } /* '' */
.icon-up-dir-1:before { content: '\e80f'; } /* '' */
.icon-location-1:before { content: '\e810'; } /* '' */
.icon-minus-1:before { content: '\e811'; } /* '' */
.icon-cancel:before { content: '\e812'; } /* '' */
.icon-check:before { content: '\e813'; } /* '' */
.icon-bar:before { content: '\e814'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-food:before { content: '\f0f5'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */