<footer class="footer">
  <div class="limit limit--no-overflow">
    <div class="footer__row">
      <div class="footer__row-column">

        <a id="scroll-top" href="#" class="button button--footer button--left">Top</a>
        <h3 class="footer__where-when">
          {{ site.data.conference.where_when }}
        </h3>

        <div class="footer__past-editions">
          Browse past editions:
          <div class="footer__past-editions-items">
            {% for year in (site.data.conference.since..site.data.conference.year) %}
              {% if forloop.last == false %}
                {% if forloop.first == false %}
                  <span>|</span>
                {% endif %}
                <a class="footer__past-edition" href="http://{{ year }}.{{ site.data.conference.slug }}.it">{{ year }}</a>
              {% endif %}
            {% endfor %}
          </div>
        </div>

        <div class="footer__row">
          <div class="footer__row-column">
            <div class="footer__nav">
              {% if site.data.conference.schedule_available %}
              <div class="footer__nav-item">
                <a href="{{ site.baseurl }}/schedule.html" class="button button--footer button--left">Schedule</a>
              </div>
              {% endif %}
              <div class="footer__nav-item">
                {% if site.data.tickets.sold_out %}
                  <div class="button button--left button--footer button--sold-out">
                    Tickets sold out
                  </div>
                {% else %}
                  <a href="{{ site.data.tickets.url }}" class="button button--footer button--left">Registrati</a>
                {% endif %}
              </div>
              {% if site.data.conference.call_for_paper %}
              <div class="footer__nav-item">
                <a href="{{ site.data.conference.call_for_paper_url }}" target="_blank" class="button button--footer button--left">Call for paper</a>
              </div>
              {% endif %}
              <div class="footer__nav-item">
                <a href="{{ site.baseurl }}/sponsor.html" class="button button--footer button--left">Sponsor</a>
              </div>
              {% if site.data.conference.talks_available %}
              <div class="footer__nav-item">
                <a href="{{ site.baseurl }}/talks.html" class="button button--footer button--left">Talks</a>
              </div>
              {% endif %}
            </div>
          </div>
          <div class="footer__row-column">
            <div class="footer__nav">
              <div class="footer__nav-item">
                <a href="{{ site.baseurl }}/#newsletter" class="button button--footer button--left">Newsletter</a>
              </div>
              <!-- div class="footer__nav-item">
                <a href="{{ site.baseurl }}/#venue" class="button button--footer button--left">Venue</a>
              </div -->
            </div>
          </div>
        </div>
        <div class="footer__socials">
          {% if site.data.social.facebook %}
            <a href="{{ site.data.social.facebook }}" class="social social--footer icon-facebook"></a>
          {% endif %}
          {% if site.data.social.flickr %}
            <a href="{{ site.data.social.flickr }}" class="social social--footer icon-flickr"></a>
          {% endif %}
          {% if site.data.social.gplus %}
            <a href="{{ site.data.social.gplus }}" class="social social--footer icon-gplus"></a>
          {% endif %}
          {% if site.data.social.twitter %}
            <a href="{{ site.data.social.twitter }}" class="social social--footer icon-twitter"></a>
          {% endif %}
          {% if site.data.social.vimeo %}
            <a href="{{ site.data.social.vimeo }}" class="social social--footer icon-vimeo"></a>
          {% endif %}
          {% if site.data.social.youtube %}
            <a href="{{ site.data.social.youtube }}" class="social social--footer icon-youtube"></a>
          {% endif %}
        </div>
      </div>
      <div class="footer__row-column">
        <a class="footer__grusp-logo" href="http://grusp.org">
          <img src="{{ site.baseurl }}/img/themes/{{ site.data.conference.slug }}/grusp-logo.svg" alt="">
        </a>
        <div class="footer__grusp-footer">
          <p>
            {{ site.data.conference.name }} © by <a href="http://grusp.org">GrUSP</a> and it's amazing <a href="#">Staff</a>
          </p>
          <p>
            Contact us to <a href="mailto:info@grusp.org">info@grusp.org</a>
          </p>
          <p>
            You can read our <a href="{{ site.baseurl }}/privacy-policy.html">privacy policy</a> and our <a href="{{ site.baseurl }}/coc.html">code of conduct</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
