<header class="header">
  <div class="limit">
    <div class="header__row">
      <a href="{{ site.baseurl }}/" class="header__logo">
        <img class="header__logo-image" src="{{ site.baseurl }}/img/themes/{{ site.data.conference.slug }}/logo.svg">
      </a>
      <h1 class="header__conf-name">
        <a href="{{ site.baseurl }}/" class="header__logo">{{ site.data.conference.name }} {{ site.data.conference.year }}</a>
      </h1>
      <nav class="header__menu">
        <a href="#" id="open-menu" class="button button--menu">
          <i class="icon-minus"></i>
          <i class="icon-minus"></i>
          <i class="icon-minus"></i>
        </a>

        <div class="header__menu-desktop">

          {% if site.data.conference.has_workshop %}
          <a href="{{ site.baseurl }}/workshop.html" class="button">
            Workshop
          </a>
          {% endif %}
          {% if site.data.conference.talks_available %}
          <a href="{{ site.baseurl }}/talks.html" class="button">
            Talks
          </a>
          {% endif %}
          {% if site.data.conference.schedule_available %}
          <a href="{{ site.baseurl }}/schedule.html" class="button">
            Programma
          </a>
          {% endif %}
          <!-- a href="{{ site.baseurl }}/#venue" class="button">
            Dove
          </a -->
          {% if site.data.speakers.call_for_paper %}
          <a href="{{ site.data.speakers.call_for_paper_url }}" target="_blank" class="button">
            Call for paper
          </a>
          {% endif %}
          <a href="{{ site.baseurl }}/sponsor.html" class="button button--no-tablet-small">
            Sponsor
          </a>

          {% if site.data.tickets.sold_out %}
            <div class="button button--sold-out">
              sold out
            </div>
          {% else %}
            <a href="{{ site.data.tickets.url }}" target="_blank" class="button button--register">
              Registrati
            </a>
          {% endif %}

        </div>
      </nav>
    </div>
  </div>
</header>
