<section class="limit">
  <div class="conf-infos">
    <div class="conf-infos__column">
      <h4 class="conf-infos__title">
        Cos'è?
      </h4>
      <p class="conf-infos__text">
        Laravel è uno dei framework PHP più apprezzati sul mercato e partorito dalla mente di Taylor Otwell che ha saputo costruire e far crescere intorno una community ed un ecosistema di strumenti tra i più completi.
      </p>
      <p class="conf-infos__text">
        Il LaravelDay è la prima conferenza tutta italiana, nata dalla community e per la community, che porta case study reali e buone pratiche di lavoro al mondo dei professionisti che usano Laravel nel loro lavoro quotidiano
      </p>
      <h4 class="conf-infos__title">
        Cosa imparerai?
      </h4>
      <p class="conf-infos__text">
        Verranno presentate le best practice per lo sviluppo e verranno mostrati case study ad alto livello. Potrai imparare
        cose utili e interessanti da chi utilizza Laravel quotidianamente in diversi contesti.
      </p>

      <div class="vimeo">
      </div>
    </div>

    <div class="conf-infos__column conf-infos__column--right">
      <div class="mega-info mega-info--responsive">
              <div class="mega-info__number">8+</div>
              <div class="mega-info__text">Sessioni</div>
            </div>
            <div class="mega-info mega-info--responsive">
              <div class="mega-info__number">1</div>
              <div class="mega-info__text">Workshops</div>
            </div>

      <div class="vimeo-phrase">
        Dedicata<br>
        esclusivamente<br>
        allo sviluppo<br>
        con Laravel
      </div>
    </div>
  </div>
</section>
