<div class="intro" style="background-image:url('{{ site.baseurl }}/img/themes/{{ site.data.conference.slug }}/intro.png');">
  <div class="limit">
    <h2 class="intro__title">
      {{ site.data.conference.name }}
    </h2>
    <h3 class="intro__where-when">
      {{ site.data.conference.where_when }}
    </h3>
  </div>

  {% if site.data.tickets.sold_out %}
    <span class="intro__register intro__register--sold-out">
      <i class="intro__icon icon-cancel"></i>
      Sold out
    </span>
  {% else %}
    <a href="{{ site.data.tickets.url }}" class="intro__register">
      <i class="intro__icon icon-play-1"></i>
      Registrati
    </a>
  {% endif %}


</div>
