@include block ('speakers') {
  margin-left: s(-2);
  margin-right: s(-2);
  width: auto;

  @include float-row((
      '<tablet-small': 2,
      ('>=tablet-small', '<tablet-large'): 3,
      ('>=tablet-large', '<desktop-small'): 4,
      '>=desktop-small': 5,
  ));

  @include element ('column') {
    @include modifier ('cfp') {
      font-family: $font-family-title;
      font-style: italic;
      font-weight: 700;
      line-height: 42px;
      padding: s(4);

      @include media ('<tablet-small') {
        padding: 0;
        width: 100%;
      }

      .button {
        display: block;

        &:hover {
          color: $color-text-info;
        }
      }
    }
  }
}
