$font-family-monospace: menlo, monaco, 'courier new', monospace;
$font-family-sans: 'proxima-nova', helvetica, arial, sans-serif;
$font-family-serif: georgia, 'times new roman', times, serif;

$color-facebook: #3b5998;
$color-flickr: #0063dc;
$color-gplus: #dd4b39;
$color-twitter: #1da1f2;
$color-vimeo: #162221;
$color-youtube: #cd201f;

$color-atlantis: rgb(141, 198, 63);
$color-black: rgb(0, 0, 0);
$color-carnation: rgb(244, 86, 86);
$color-frost: rgb(234, 243, 220);
$color-jordy-blue: rgb(139, 171, 234);
$color-link-water: rgb(220, 230, 249);
$color-lochmara: rgb(0, 146, 219);
$color-mine-shaft: rgb(45, 45, 45);
$color-white: rgb(255, 255, 255);
$color-wild-sand: rgb(245, 245, 245);
