@include block ('mega-info') {
  color: $color-text-info;
  display: inline-block;
  font-size: 300px;
  font-weight: 700;
  line-height: 0.75;
  margin-top: s(2);
  position: relative;
  text-transform: uppercase;
  vertical-align: baseline;
  white-space: nowrap;

  & + & {
    margin-top: s(4);
  }

  @include modifier ('huge') {
    $font-size: 340px;
    font-size: $font-size;

    @include media ('>=tablet-large') {
      font-size: s(0.75, $font-size);
    }

    @include media ('<tablet-large') {
      font-size: s(0.5, $font-size);
    }

    @include media ('<tablet-small') {
      font-size: s(0.35, $font-size);
    }

    @include media ('<mobile-large') {
      font-size: s(0.25, $font-size);
    }

    @include element ('text') {
      font-size: 40%;
    }
  }

  @include modifier ('big') {
    $font-size: 200px;
    font-size: $font-size;

    @include media ('<desktop-large') {
      font-size: s(0.75, $font-size);
    }

    @include media ('<tablet-large') {
      font-size: s(0.6, $font-size);
    }

    @include media ('<tablet-small') {
      font-size: s(0.4, $font-size);
    }

    @include media ('<mobile-large') {
      font-size: s(0.22, $font-size);
    }

    @include element ('text') {
      font-size: 40%;
    }
  }

  @include modifier ('responsive') {

    & + & {
      @include media ('<mobile-large') {
        margin-top: s(2);
      }
    }

    @include media ('>=tablet-large') {
      font-size: 300px;
    }

    @include media ('<tablet-large') {
      font-size: 200px;
    }

    @include media ('<tablet-small') {
      font-size: 150px;
    }

    @include media ('<mobile-large') {
      font-size: 174px;
    }
  }

  @include element ('number') {
    display: inline;

    &:first-child {
      margin-right: -10%;
    }
  }

  @include element ('text') {
    display: inline;
    font-size: 28%;

    &:first-child {
      margin-right: -10%;
    }

    @include modifier ('lowercase') {
      text-transform: lowercase;

      &:first-child {
        margin-right: -5%;
      }
    }
  }
}
