<div class="sponsor-intro">
  <h1 class="sponsor-intro__title">Sponsor</h1>
  <div class="limit">
    <h3 class="sponsor-intro__question">
      La tua attività è connessa<br>
      con Laravel ed il suo ecosistema?
      <span class="sponsor-intro__question-red">
        Vuoi dare il tuo contributo per<br>
        il successo del {{ site.data.conference.name }}?
      </span>
    </h3>

    <div class="sponsor-intro__row">
      <div class="sponsor-intro__row-column">
        <p class="sponsor-intro__text">
          Ottima idea! Contribuendo alla conferenza otterrai visibilità esattamente presso le persone che vorresti contattare: developer esperti con Symfony!
        </p>
      </div>
      <div class="sponsor-intro__row-column">
        <p class="sponsor-intro__text">
          Cerchi collaboratori? Vuoi promuovere una tecnologia o un servizio? Stai organizzando un corso e ti servono docenti? O vuoi farlo conoscere a potenziali studenti?
        </p>
      </div>
    </div>

  </div>
</div>
